body {
    background-color: #0f172a;
    color: #fff;
}

.sidebar {
    background-color: #1e293b;
}

.sidebar a {
    color: #cbd5e1;
    text-decoration: none;
    display: block;
    padding: 0.75rem 1rem;
}

.sidebar a:hover {
    background-color: #334155;
}
.sidebar-hover {
    background-color: #334155 !important;
}

.sidebar h2 {
    padding: 1rem;
}

.modal-content {
    background-color: #1e293b;
    color: #fff;
    border: none;
    border-radius: 1rem;
    text-align: center;
}

.btn-primary {
    background-color: #3b82f6;
    border: none;
}

.btn-link {
    color: #94a3b8;
    text-decoration: none;
}

@media (min-width: 992px) {
    .sidebar {
        position: fixed;
        top: 0;
        bottom: 0;
        width: 240px;
        z-index: 1030;
    }

    .main-content {
        margin-left: 240px;
    }
}


.table img {
    width: 50px;
    height: auto;
    border-radius: 0.25rem;
}
.icon-btn {
    background: none;
    border: none;
    color: white;
}