{% extends 'base_backofficeclient.html.twig' %}

{% block title %}Ajouter un congé et jour férié{% endblock %}

{% block body %}
    <div class="container">
        <div class="d-flex justify-content-between align-items-center mb-3">
            <div>
                <h2>Ajouter un congé et jour férié</h2>
            </div>
        </div>

        <div class="alert alert-info">Attention, l'ajout d'un congé/jour férié comportant des rendez-vous annulera les dits rendez-vous</div>

        <ul class="nav nav-tabs mb-3">
            <li class="nav-item">
                <a class="nav-link text-white" href="{{ path("app_timeslot") }}">Créneaux horaires</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="{{ path("app_holiday") }}">Congés et jours fériés</a>
            </li>
        </ul>

        {{ form(form) }}
    </div>
{% endblock %}
